asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.5
click==8.3.1
cloudinary==1.44.1
Django==6.0.3
django-cloudinary-storage==0.3.0
django-cors-headers==4.9.0
django-jazzmin==3.0.3
djangorestframework==3.16.1
gunicorn==25.1.0
idna==3.11
mblack==26.1.0
mojo==0.26.1.0
mojo-compiler==0.26.1.0
mojo-lldb-libs==0.26.1.0
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.4
psycopg2-binary==2.9.11
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3
whitenoise==6.12.0
